{
  "passPerPreset": true,
  "presets": [{
    "passPerPreset": false,
    "presets": [ "es2015", "react" ]
  }],
  "plugins": [
    "transform-runtime",
    ["transform-react-jsx", {
      "pragma": "createElement"
    }]
  ]
}